In [1]:
def add(a,b):
    return a+b

def subtract(a,b):
    return a-b

calc = [add, subtract]

for i in calc:
    print(i(10,5))

15
5

In [6]:
def add(a,b):
    return a+b
def subtract(a,b):
    return a-b
calc = {
    "add":add,
    "subtract":subtract
}
num1 = calc["add"](10,5)
num2 = calc["subtract"](10,5)

print(num1)
print(num2)

15
5

In [7]:
calc.values()

dict_values([<function add at 0x0000024461ABF060>, <function subtract at 0x0000024461ABEDE0>])

In [12]:
numbers = [1,2,3,4,5]
squared = map(lambda x: x**2, numbers)
print(list(squared))

[1, 4, 9, 16, 25]

In [16]:
str_numbers = ["1","2","3","4","5"]
int_numbers = map(int,str_numbers) # 문자열을 정수로 변환
print(list(int_numbers))

[1, 2, 3, 4, 5]

In [17]:
def is_even(number):
	return number % 2 == 0
numbers = [1,2,3,4,5]
even_numbers = filter(is_even, numbers)
print(list(even_numbers))

[2, 4]

In [19]:
data = [
	{"date": "2024-01-01", "value":10},
	{"date": "2024-01-02", "value":15},
	{"date": "2024-01-03", "value":20},
]
jan_first_data = filter(lambda x: x["date"] == "2024-01-01", data)
print(list(jan_first_data))

[{'date': '2024-01-01', 'value': 10}]

In [24]:
def drink_alcohol(pid):
	birth_year = int(pid.split("-")[0][:2])
	millenial = int(pid.split("-")[1][0]) >=3
	if millenial:
		birth_year = 2000 + birth_year
	else:
		birth_year = 1900 + birth_year
	return 2024 - birth_year >= 20
students = ["050123-3234567", "850505-1345678", "060404-3456789", "971212-1567890"]
alcoholer = filter(drink_alcohol, students)
print(list(alcoholer))

['850505-1345678', '971212-1567890']

In [25]:
add = lambda x,y: x + y
print(add(5,3))

8

In [27]:
strings = ["똘기","떵이","호치","새초미","드라고","요롱이","마초","미미","몽치","키키","당다리","찡찡이","오로라공주"]

# 문자열 길이에 따라 정렬
strings.sort(key=lambda s: len(s))
print("Sorted by length:", strings)

# 가장 긴 문자열 찾기
longest_string = max(strings, key=lambda s: len(s))
print("Longest string:", longest_string)

# 가장 짧은 문자열 찾기
shortest_string = min(strings, key=lambda s: len(s))
print("Shortest string:", shortest_string)

Sorted by length: ['똘기', '떵이', '호치', '마초', '미미', '몽치', '키키', '새초미', '드라고', '요롱이', '당다리', '찡찡이', '오로라공주']
Longest string: 오로라공주
Shortest string: 똘기